layout {

    focus-ring {
        active-color   "#a3d578"
        inactive-color "#121410"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a3d578"
        inactive-color "#121410"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a3d578"
        inactive-color "#285000"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a3d57880"
    }
}

recent-windows {
    highlight {
        active-color "#a3d578"
        urgent-color "#ffb4ab"
    }
}
