layout {

    focus-ring {
        active-color   "#a2e467"
        inactive-color "#1e2e0f"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#a2e467"
        inactive-color "#1e2e0f"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1e2e0f70"
    }

    tab-indicator {
        active-color   "#a2e467"
        inactive-color "#498d0c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#a2e46780"
    }
}

recent-windows {
    highlight {
        active-color "#a2e467"
        urgent-color "#fd4663"
    }
}
